html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    min-height:80px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-left: 10px;
}

.texto-main{
    font-weight: 600;
    margin-top: 20px;
    padding: 15px;

}

.categorias{
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px;
    color: black;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transform: all 400ms ease;
}
.categorias:hover{
    background: #2fb4cc;
    color: #fff;
    cursor: pointer;
}

 #productos{
    display: flex;
    flex-wrap: wrap;
    
}
.tarjeta{
    margin: 20px;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    transition: all 400ms ease;
}
.tarjeta:hover{
    box-shadow: 5px 5px 120px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);

}

 h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.botones{
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transform: all 400ms ease;
}
.botones:hover{
    background: #2fb4cc;
    color: #fff;
    cursor: pointer;
}
 .imagenes{
    width: 200px;
    height: 200px;
} 

#carrito{
    width: 100%;
    min-height: 80px;
    background-color: coral;
    display: flex;
   border: 1px solid black;
}
#verOcultar img{
    height: 24px;
}
#carrito p{
    display: flex;
    align-items: center;
}

.oculta{
    display: none!important;
}







footer{
    margin-top: auto;
}
.piepagina{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    
}